doctype html
html
  head
    title Classroom
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/views/classroom/css/elements.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/panels.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/modals.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/toolbar.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/chatbox.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/camplayer.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/whiteboard.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/emoticons.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/image_editor.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/views/classroom/css/text_editor.css?#{cacheBreaker}')
  

  body
    script(src='/views/classroom/jquery.js?#{cacheBreaker}')
    script(src='/views/classroom/main.js?#{cacheBreaker}')
    script(src='/views/classroom/sha1.js?#{cacheBreaker}')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/views/classroom/whiteboard/Node_IO_Socket.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/utils.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/camplayer.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/chatbox.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/download.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/filepicker.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/fullscreen.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/modals.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/panels.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/peer.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/shapes.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/shortcuts.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/toolbar.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/upload.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/user.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/whiteboard.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/whiteboard/image_editor.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/PR2_modules/whiteboard/text_editor.js?#{cacheBreaker}')
    script(src='/views/classroom/whiteboard/setup.js?#{cacheBreaker}')



